Repository JOKPOON/ModX: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend

build_frontend:
  stage: build
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --pull -t "$CONTAINER_TEST_IMAGE"_frontend ./frontend
  - docker push "$CONTAINER_TEST_IMAGE"_frontend

build_backend:
  stage: build
  variables:
    SECURE_FILES_DOWNLOAD_PATH: ./backend
  before_script:
  - apk add curl bash
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

Update docker-compose.tmpl
  docker-compose.tmpl
Due: none

Update vite.config.ts
  frontend/vite.config.ts
Due: build_frontend

Update README.md
  README.md
Due: none

Add new file
  init-db.sh
Due: none

Change img bucket to S3
  backend/configs/configs.go
  backend/docker-compose.yml
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/modules/cart/repositories/cart_repositories.go
  backend/modules/entities/file.go
  backend/modules/file/controllers/file_controllers.go
  backend/modules/file/usecases/file_usecases.go
  backend/modules/orders/repositories/orders_repositories.go
  backend/modules/products/controllers/prod_controllers.go
  backend/modules/products/repositories/prod_repo.go
  backend/modules/wishlist/repositories/wishlist_repositories.go
  backend/pkg/databases/gcs.go
  backend/pkg/databases/s3.go
  backend/server/handler.go
  backend/server/server.go
  frontend/src/components/API/API.tsx
  frontend/src/components/pages/Homepage/NewItems.tsx
  frontend/vite.config.ts
Due: build_frontend, build_backend

Check token
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/API/API.tsx
  frontend/vite.config.ts
Due: build_frontend

Change env
  compose.yaml
  docker-compose.tmpl
Due: none

Update and rename compose.yaml to docker-compose.yml
  docker-compose.yml
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

fixed: client build
  docker-compose.yml
  frontend/Dockerfile
  frontend/package.json
Due: build_frontend

ci: change dir
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

ci: infisical backend docker
  backend/Dockerfile
Due: build_backend

ci: infisical backend docker
  docker-compose.yml
Due: none

ci: infisical backend docker
  backend/Dockerfile
  docker-compose.yml
Due: build_backend

fixed: roomId
  backend/Dockerfile
Due: build_backend

ci: infisical backend docker
  .infisical.json
Due: none

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
